Package: com.noah.shaderboard
Name: ShaderBoard
Depends: mobilesubstrate, preferenceloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: NoahDev
Author: NoahDev
Section: Tweaks
